@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&family=Outfit:wght@400;500;600&family=Roboto:wght@300&display=swap');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  min-height: 100vh;
}

.App-container {
  height: 80%;
  width: 30%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.App-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

.App-image h1, .App-image h2 {
  font-family: "Outfit 800";
  font-weight: 700px;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}

#QR-Code {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.App-image h1 {
  color: var(--color-dark-blue);
}

.App-image h2 {
  color: gray;
}

@media screen and (max-width: 400px) {
  .App-container {
    width: 80%;
    height: 60%;
  }
}

@media screen and (min-width: 401px) and (max-width: 1000px) {
  .App-container {
    width: 50%;
  }
}
